.fieldset
  padding: 0px !important
  margin: 0px !important
  .legend
    margin: 0px !important
    padding: 0px !important
  div
    position: relative
    left: 15px
    padding-bottom: 20px
  ul
    margin-top: 5px
    li
      list-style: "- "