.selectApp
  display: flex
  flex-direction: row
  width: 680px
  margin: 10px
  justify-content: space-evenly
  button
    margin-left: 10px

.appData
  display: flex
  flex-direction: row
  width: 680px
  justify-content: space-evenly
  legend
    padding-bottom: 2px 
    &:not(:first-child)
      margin-top: 15px
  input
    margin-bottom: 5px
    
.appInfo
  margin-left: 10px
  display: flex
  flex-direction: column
  padding: 0px
  flex: 1
