.index
  display: flex
  flex-direction: row
  &>*
    flex: 1

.selectApp
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  select
    margin-right: 5px

.appInfo
  margin: 0px 15px 0px 0px
  &>*
    margin-bottom: 5px