:root
  --var-accent1: #282a36
  --var-accent2: #242631
  --var-accent1-hover: #31333f
  --var-accent2-hover: #40424e
  --var-button: #3d4052
  --var-button-hover: #4e5064
  --var-link: #bd91f3
  --var-link-hover: #d498ff
  --var-transition: 200ms
  
body
  background: var(--var-accent1)
  font-family: monospace
  color: #fff
  font-size: 15px
  padding: 0px
  margin: 0px
  &>*
    user-select: none

a
  text-decoration: none
  color: #ffffff
  transition: var(--var-transition)
  &:hover
    color: var(--var-link-hover)

fieldset
  border: none
  display: flex
  flex-direction: column
  right: 0px
  margin: 0px 0px 15px 0px
  position: relative
  legend
    display: flex
    align-items: center
    border-bottom: 1px #bd93f910 solid
    background: var(--var-accent1)
    padding: 0px 30px 6px 10px
    width: max-content
    &>*
      margin: 0px 8px 0px 0px

select, option
  padding: 10px 15px
  background: var(--var-accent2)
  border: 1px solid transparent
  border-radius: 10px
  color: #ffffff
  outline: none
  transition: var(--var-transition)
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button 
      -webkit-appearance: none
      margin: 0
  &:focus
    border-color: var(--var-link)
    background: var(--var-accent1-hover)
  &:hover
    background: var(--var-accent1-hover)

select
  padding: 8px 13px
  width: 100%

hr
  width: 100%
  border: none
  border-bottom: 1px solid var(--var-link)

button
  transition: var(--var-transition)
  padding: 5px 10px
  background: var(--var-button)
  color: #fff
  border: none
  border-radius: 5px
  cursor: pointer
  &:hover
    background: var(--var-button-hover)
    
    
::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-track
  background: var(--var-button-hover)
  border-radius: 10px

::-webkit-scrollbar-thumb 
  background: var(--var-accent1-hover)
  border-radius: 10px

::-webkit-scrollbar-thumb:hover 
  background: var(--var-accent2-hover)